.intro {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.intro-img {
    width: 182px;
    height: 182px;
    margin: 0 auto 3em;
    border-radius: 50%;
    object-fit: cover;
    filter: brightness(1.09) blur(0.1px) contrast(1.2);
}

/* Media queries  */
@media (max-width: 767px) {
    .intro,
    .about-content {
        text-align: center;
    }
}

@media (min-width: 768px) {
    .intro {
        flex-direction: row;
        align-items: center;
        margin-bottom: 4em;
    }

    .intro-img {
        margin-right: 3em;
    }
}
